<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095411403109-756e9s5oq095pfm1v7megb2fu22ngrff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095411403109-756e9s5oq095pfm1v7megb2fu22ngrff</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095411403109-4m717nohmtpakj9k9ndqqd25ouru9t2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf4gpcCn42MNUTDMxepD-9pxyyM7d74jk</string>
	<key>GCM_SENDER_ID</key>
	<string>1095411403109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spazcoin</string>
	<key>PROJECT_ID</key>
	<string>spazcoin-9c00b</string>
	<key>STORAGE_BUCKET</key>
	<string>spazcoin-9c00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095411403109:ios:569e9a8608e6752177b98c</string>
	<key>DATABASE_URL</key>
	<string>https://spazcoin-9c00b.firebaseio.com</string>
</dict>
</plist>